/*------------------Global-------------------*/

*,
body,
html {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #233348;
    --link: #1f1534;
}

.container {
    margin: 0 auto;
    width: 80%;
}

a {
    text-decoration: none;
    color: var(--link);
    font-weight: 400;
}

a:hover {
    font-weight: 700;
    opacity: 1;
}


/*------------------Header-------------------*/

header {
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin-left: 40px;
    opacity: 0.5;
}


/*------------------Section 1-------------------*/

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 84px;
}

.section1-left h1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
}

.section1-left p {
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7d7987;
    margin-bottom: 45px;
}

.section1-left a {
    background: #458ff6;
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #ffffff;
    padding: 20px 40px;
}


/*------------------Section 2-------------------*/

.section2 {
    display: block;
    align-items: center;
    margin-top: 192px;
}

.section2 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.section2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7d7987;
}


/*------------------Section 3-------------------*/

.section3_with_background {
    background-image: url('images/Vector.png');
    background-repeat: no-repeat;
}

.section3 {
    display: block;
    justify-content: center;
    margin-top: 80px;
    padding: 20px;
}

.section-of-card {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.card {
    display: block;
    justify-content: left;
    border: 2px solid #ffffff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 40px;
    size: 350px 354px;
}

.card h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
}

.card p {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}


/*--------------------Section 4---------------------*/

.section4 {
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
    align-items: center;
}

.section4-right h2,
.section5-left h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
}

.section4-right p,
.section5-left p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
    mix-blend-mode: normal;
    margin-bottom: 40px;
}

.section4-right a,
.section5-left a {
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458ff6;
    mix-blend-mode: normal;
    border: 1.4px solid #458ff6;
    box-sizing: border-box;
    border-radius: 55px;
    padding: 12px 25px;
    text-decoration: none;
    opacity: 0.7;
}

.section4-right a,
.section5-left a:hover {
    box-shadow: 5px 5px 10px rgba(45, 48, 54, 0.4);
    opacity: 1;
    color: #458ff6;
}


/*--------------------Section 5---------------------*/

.section5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}


/*--------------------Section 6---------------------*/

.section6 {
    background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
    border-radius: 24px;
    margin-top: 266px;
}

.section6-in {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 80px 80px;
}

.s6-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.s6-top h2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
    mix-blend-mode: normal;
    padding-left: 300px;
}

.s6-bottom-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s6-bottom-left p {
    font-size: 22px;
    line-height: -5px;
    line-height: 48px;
    color: #ffffff;
    mix-blend-mode: normal;
    margin-left: 20px;
}

.s6-bottom-left img {
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.s6-bottom-right p {
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
}

.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    margin-right: auto;
    margin-bottom: 122px;
    margin-top: 45px;
    margin-left: auto;
}


/*--------------------Section 7---------------------*/

.section7 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
    margin-top: 284px;
    margin-bottom: 100px;
}


/*--------------------Section 8---------------------*/

.section8 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin: auto;
    align-items: center;
}

.s8-item {
    display: block;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.s8-item h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
}

.s8-info {
    padding: 20px 0px 20px 40px;
}

.s8-info a {
    text-decoration: none;
    font-weight: bold;
    padding-right: 20px;
    color: #4089ed;
}

.s8-link a {
    border: 1.4px solid #458ff6;
    box-sizing: border-box;
    border-radius: 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458ff6;
    mix-blend-mode: normal;
    text-decoration: none;
    padding: 10px 25px;
}

.s8-link {
    padding-left: 45%;
    margin-top: 69px;
}

.s8-link a:hover {
    box-shadow: 5px 5px 10px rgb(105, 103, 103);
    padding: 12px 27px;
}


/*------------------------Footer---------------------*/

.footer {
    background-color: #5a98f2;
    color: #fff;
    margin-top: 201px;
}

.footer-heading {
    display: flex;
    justify-content: space-between;
    padding-top: 118px;
    padding-bottom: 113px;
    height: 432px;
}

.footer-logo {
    width: 391px;
    margin-right: 145px;
}

.footer-text {
    margin-top: 17px;
    margin-bottom: 31px;
    width: 390px;
    font-weight: 300;
    line-height: 28px;
    font-size: 18px;
}

.footer-copyright {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
}

.footer-elements {
    width: 160px;
    height: 214px;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-link {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-family: 'mulish', sans-serif;
    line-height: 38px;
    font-size: 18px;
}

.footer-link strong {
    font-family: 'mulish', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
}